:root {
    --primary-color: white;
    --Seconday-color: #000BAD;
    --Accent1: #003401;
    --Accent2: #000076; 
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo {
	margin: 0 0.25rem 0 1rem;
	width: 85px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}
.grid-container {
	display: grid;
  grid: 150px / auto auto auto;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

.center img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}


a{
    text-decoration: none;
}
/* Editing the main body or designing the main the body */
img{
	max-width: 100%;
}
.hero{
	position: relative;
	width: 100%;
	background-color: var(--Accent2);
}
.hero img { 
    display: block;
    width: 100%;
    height: auto;
}
.hero h2 {
    position: absolute;
	top: 20px;
	left: 30px;
	color: white;
}
.hero article{
    position: absolute;
	padding: 20px;
	top: 20px;
	width: 95%;
	right: 3%;
	opacity: 0.4;
	background-color: #ccc;
}
.hero article img{
	max-width: 250px;
	margin-right: 50px;
	border-radius: 20px;
}
.center{
    float: right;
}
.hero article p{
	margin: 1rem;
}
section{
	margin: 8px;
}
.history{
	padding: 20px;
	background-color: rgba(71, 71, 238, 0.071);
}

.history h2{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 10px;
}
.history p{
	text-align: center;
	font-size: 1rem;
}

/* Css for the sections images */
.home-grid {
	display: grid;
	grid-template-columns: repeat(10, 2fr);
	text-align: center;
  }
  .icon {
	width: 50px;
	padding-top: 5px;
  }
  .card-img{
	border: 5px solid rgba(199, 199, 246, 0.722);
	transition: transform .5s;
	box-shadow: 5px 5px 10px rgba(170, 152, 152, 0.592);
  }
  .card-img, .mountains{
	width: 100%;
  }
  .rivers-card{
	grid-column: 2/4;
	grid-row: 2/3;
  }
  .camping-card{
	grid-column: 5/7;
	grid-row: 2/3;
  }
  .rapids-card {
	grid-column: 8/10;
	grid-row: 2/3;
  }
  #background{
	grid-column: 1/11;
	grid-row: 4/9;
  }
  .mountains{
	grid-column: 2/7;
	grid-row: 5/8;
	box-shadow: 5px 5px 10px #6f7364;
  }
  .msg{
	grid-column: 6/10;
	grid-row: 6/7;
	box-shadow: 5px 5px 10px #bcc0b3;
  }
  .card-img:hover{
	opacity: .6;
	transform: scale(1.1);
  }
.sociallinks img{
    width: 40px;
}
footer{
	padding: 25px 50px;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer img{
	padding-top: 15px;
}